auth/api/node_modules
auth/app/node_modules
auth/api/tmp
auth/api/.env
auth/app/.env

admin/api/node_modules
admin/app/node_modules
admin/api/tmp
admin/api/.env
admin/app/.env

events/api/node_modules
events/app/node_modules
events/api/tmp
events/api/.env
events/app/.env

gateway/node_modules
gateway/tmp
gateway/.env

mailer/node_modules
mailer/tmp
mailer/.env

registration/api/node_modules
registration/app/node_modules
registration/api/tmp
registration/api/.env
registration/app/.env

printer/app/node_modules
printer/app/.env

offline/api/node_modules
offline/app/node_modules
offline/api/tmp
offline/api/.env
offline/app/.env
